/* Nav test */
.wayfinder{
    position: absolute;
    z-index: 1;
} 

a {
    text-decoration: none;
    color: whitesmoke;
}

nav {
    z-index: 1;
    padding: 10px;
    display: flex;
    font-size: 4.5em;
    font-family: 'Courier New', Courier, monospace;
}

.home {
    display: inline-flex;
    position: relative;
    background-color: teal;
    padding: 0.01em;
    border-radius: 5px;
}


#bttn{
    text-align: center;
    width: 70px;
}

.home a:hover{
    transform: rotate(-90deg);
    transition: 1s ease-in-out;
}

.home div {
    width: 70px;
    display: none;
    text-align: center;
}

.home:hover div {
    display: block;
}

.home div:hover {
    background-color: tomato;
}


/* end of nav test */