/* Put your CSS here! */
/* reset */

* {
	margin: 0;
	padding: 0;
    font-size: 100%;
    cursor: none;
}

/* End of reset */

body{
    width: 100%;
    margin: auto;
    font-family: 'Tomorrow';
    color: whitesmoke;
    background-color:#000d1a ;
    font-size: 1.5em;
    position: relative;

    

    #cursor{
        position: absolute;
        width: 30px;
        height: 30px;
        border: 2px solid teal;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 2;
        transform-origin: center;
        pointer-events: none;
    }

    a{
        text-decoration: none;
        color: teal;
    }

    h3, h1{
        font-weight: 600;
        padding: 1em;
    }

    .navi{
        color: #000d1a;
        display: flex;
        position: fixed;
        background-color: whitesmoke;
        width: 100%;
        height: 60px;
        padding: 0.5em 0;
        z-index: 1;
        border-bottom: 2px solid teal;
        align-items: center;
    }
    
    
}



.container{
    width: 90vw;
    height: 90vh;
    display: grid;
    position: relative;
    top:70px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;

    .img-gallery{
        width: 100vw;
        background-color: pink;
    }

    a:hover, 
    a:focus{
        color: tomato;
    }

   ol{
       list-style: none;
       margin-left: 22px;
   }

   .heads{
        margin: 0;
   }
}

