/* Put your CSS here! */
/* reset */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

/* End of reset */

body{
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    font-size: 2em;
}

h3, h1{
    font-weight: 500;
    padding: 1em;
}

.heads{
    border-bottom: 2px solid teal;
}

.navi{
    display: flex;
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
    padding: 0.5em;
    z-index: 1;
    border-bottom: 2px solid teal;
    align-items: center;
}

a{
    text-decoration: none;
    color: teal;
}

li{
    list-style: none;
}

.container{
    width: 90vw;
    margin: auto;
    display: grid;
    
    position: relative;
    top:70px;
}