/* Put your CSS here! */

body{
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    font-size: 2em;
}

h3, h1{
    font-weight: 500;
    border-bottom: 2px solid teal;
    padding: 1em;
}

#ident{
    background-color: whitesmoke;
    
}

.navi{
    position: fixed;
    width: 100vw;
    z-index: 1;
    top:-2vh;
}

a{
    text-decoration: none;
    color: teal;
}

li{
    list-style: none;
}

.container{
    width: 90vw;
    margin: auto;
    display: grid;
    border-bottom: 2px solid;
    position: relative;
    top:170px;
}